.popup-holder {
    .background-opacity(black, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    font-size: 12px;
    .popup {
        position: absolute;
        top: 10px;
        width: 95%;
        margin-left: 2.5%;
        background: white;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            background: @darkBlue;
            width: 25px;
            height: 25px;
            text-align: center;
            .hide-text();
            .single-background-image-replacement(url(../img/ico-close.png), 25px);
            cursor: pointer;
            &:hover {
                .background-opacity(@darkBlue, .8);
            }
        }

        .top-box {
            .clearfix();
            padding-top: 10px;
            padding-bottom: 0px;
            .first, .second, .third {
                float: left;
                width: 38%;
                .inner {
                    height: 30px;
                    margin: 0 3px;
                    position: relative;
                    .selector {
//                        position: absolute;
//                        left: 0;
//                        right:0;
  
//                        overflow: hidden;
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;

                        div {
                            color: white;
                            background: @darkBlue;                            
                            .single-background-image-replacement(url(../img/ico-carot.png));
                            display: block;
                            background-position: 5px 5px;
                            background-size: 20px;
                            padding-left: 30px;
                            cursor: pointer;
                            &:hover {
                                background-color: @lightBlue;
                                color: @darkBlue;
                            }
                        }

                        div.handler {
                            cursor: default;
                            &:before {
                                content: "";
                                position: absolute;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                width: 20px;
                                border-left: 1px solid @lightBlue;
                                .single-background-image-replacement(url(../img/ico-carot.png), 25px);
                                cursor: pointer;
                                &:hover {
                                    opacity: .6;
                                }
                            }
                            &:hover {
                                background-color: @darkBlue;
                                color: white;
                            }
                        }
                        
                        .items {
                            height: 0;
                            overflow: hidden;
                            background: none;
                            padding: 0;
                        }

                        &.open {
                            .items {
                                height: 400px;                                
                                overflow: auto;
                            }
                            .handler {
                                border-bottom: 1px solid @lightBlue;
                            }
                        }
                    }
                    .state-selector-2, .state-selector-1 {
                    }
                }
            }
            .first {
                .inner {
                    margin-left: 10px;
                }                
            }
            .third {
                width: 24%;
                .inner {
                    margin-right: 30px;
                    .selector {
                        overflow: hidden;
                        div {
                            background-image: none;
                            padding-left: 10px;
                        }
                        &.open {
                            height: auto;
                        }
                    }
                }
            }
        }

        .bottom-table {
            padding: 0 15px;
            .row {
                cursor: pointer;
                padding: 6px 5px;
                color: @darkBlue;
                .clearfix();

                .title {
                    width:  150px;
                    float: left;
                    line-height: 24px;
                    .short {

                    }
                    .long {
                        display: none;  
                        padding-right: 3px;
                    }
                }

                .metrics {
                    margin-left: 150px;
                    .clearfix();
                    .subrow-1, .subrow-2 {
                        margin-right: 100px;
                        .desc {
                            display: none;
                        }
                        .bar {
                            height: 16px;
                            background: @lightBlue;
                            margin-right: 90px;
                            .clearfix();
                            .value, .points {
                                font-size: 12px;
                                line-height: 16px;
                                padding: 0 4px;
                                height: 16px;
                                background: white;
                                float: right;
                                width: 100px;
                                margin-right: -100px;
                                overflow: hidden;
                                text-overflow:ellipsis; 
                                white-space: nowrap;
                            }
                            .points {
                                display: none;
                            }
                        }
                    }
                    .subrow-2 {
                        .bar {
                            background: @darkBlue;
                        }                        
                    }
                }

                &:hover, &.selected {
                    background: #EDEDED;
                    .metrics {
                        .bar {
                            .value, .points {
                                background: #EDEDED;
                            }
                        }
                    }
                }
                &.selected {
                    .subrow-1, .subrow-2 {
                        .desc {
                            display: block;
                        }
                        .bar {
                            .points {
                                display: block;
                            }
                            .value {
                                display: none;
                            }                            
                        }
                    }
                    .title {
                        .short {
                            display: none;    
                        }
                        .long {
                            display: block;
                        }
                    }
                }

                &.row-metric-EIB {
                    &, &.selected {
                        .subrow-1, .subrow-2 {
                            .bar {
                                .points {
                                    display: block;
                                }
                                .value {
                                    display: none;
                                }                            
                            }
                        }
                    }
                    &.selected {
                        .subrow-1, .subrow-2 {
                            .desc {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}