.popup-holder {
    .background-opacity(black, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;

    .popup {
        position: absolute;
        top: 10px;
        width: 95%;
        margin-left: 2.5%;
        background: white;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            background: @darkBlue;
            width: 25px;
            height: 25px;
            text-align: center;
            .hide-text();
            .single-background-image-replacement(url(../img/ico-close.png), 25px);
            cursor: pointer;
            &:hover {
                .background-opacity(@darkBlue, .8);
            }
        }

        .top-box {
            .clearfix();
            padding-top: 10px;
            padding-bottom: 0px;
            .first, .second, .third {
                float: left;
                width: 36%;
                .inner {
                    padding: 0 10px;
                    .flag {
                        width: 20px;
                        float: left;
                        display: none;
                        img {
                            height: 20px;
                            width: 30px;
                            .box-shadow(2px 2px rgba(0, 0, 0, .2))
                        }
                    }
                    .selector {
                        font-size: 12px;
                        height: 30px;
//                        margin-left: 30px;
                        margin-bottom: 10px;
                        padding: 4px;
                    }
                    .state-selector-2, .state-selector-1 {
                    }
                }
            }
            .third {
                width: 28%;
                .inner {
                    .selector {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            }
        }

        .bottom-table {
            padding: 0 15px;
            .row {
                cursor: pointer;
                padding: 6px 5px;
                color: @darkBlue;
                .clearfix();

                .title {
                    width:  150px;
                    float: left;
                    line-height: 24px;
                    .short {

                    }
                    .long {
                        display: none;    
                    }
                }

                .metrics {
                    margin-left: 150px;
                    .clearfix();
                    .subrow-1, .subrow-2 {
                        .desc {
                            display: none;
                        }
                        .bar {
                            height: 16px;
                            background: @lightBlue;
                            margin-right: 90px;
                            min-width: 110px;
                            .clearfix();
                            .value, .points {
                                font-size: 12px;
                                line-height: 16px;
                                padding: 0 4px;
                                height: 16px;
                                background: white;
                                float: right;
                                width: 90px;
                            }
                            .points {
                                display: none;
                            }
                        }
                    }
                    .subrow-2 {
                        .bar {
                            background: @darkBlue;
                        }                        
                    }
                }

                &:hover, &.selected {
                    background: #EDEDED;
                    .metrics {
                        .bar {
                            .value, .points {
                                background: #EDEDED;
                            }
                        }
                    }
                }
                &.selected {
                    .subrow-1, .subrow-2 {
                        .desc {
                            display: block;
                        }
                        .bar {
                            .points {
                                display: block;
                            }
                            .value {
                                display: none;
                            }                            
                        }
                    }
                    .title {
                        .short {
                            display: none;    
                        }
                        .long {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}